<% if user.nil? %>
  <p>Welcome!</p>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% elsif user[:admin] %>
  <p>Welcome Admin</p>
  <a href="/logout">Logout</a>
  <a href="/users">Users</a>

<% else %>
  <p>Hello, <%= user[:email] %></p>
  <a href="/logout">Logout</a>
<% end %>

